:root {
  --page-width: 800px;
  --avatar-size: 170px;
  --h1-size: 30px;
  --cell-padding: 15px;
  --avatar-border-pad: 0;
  --gap-span: 10px;
  --font-color: rgb(17, 17, 17);
  --background-color: rgb(218, 218, 218);
  --main-border: 1px solid var(--font-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Source Code Pro', monospace;
}

body {
  position: relative;
  background-color: var(--background-color);
}

body.-dark {
  --font-color: rgb(218, 218, 218);
  --background-color: rgb(17, 17, 17);
}

a {
  color: darkblue
}

a:visited {
  color: gray
}

body.-dark a {
  color: lightblue
}

body.-dark a:visited {
  color: lightgray
}

h1 {
  font-size: var(--h1-size);
  user-select: none;
}

h2 {
  font-size: calc(var(--h1-size) * .5);
  user-select: none;
}

h3 {
  font-size: calc(var(--h1-size) * .7);
  margin-bottom: 15px;
  user-select: none;
}

p, span, h1, h2, h3, b, i, div, li {
  color: var(--font-color);
}

section {
  border-color: var(--font-color) !important;
}

ul > li {
  padding-bottom: 10px;
}

.overflow-hidden {
  overflow: hidden;
}

.self-description {
  font-size: 10px;
}

.resume {
  width: var(--page-width);
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr minmax(1fr, 200px);
  grid-gap: var(--gap-span);
  grid-template-areas:
    "name name photo"
    "work work work"
    "work work work"
    "education education contacts";
}

.resume > section {
  padding: var(--cell-padding);
  border: var(--main-border);
  position: relative;
  overflow: hidden;
}

.name {
  grid-area: name;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name > h2 {
  margin-bottom: 15px;
  font-size: 12px;
}

.photo {
  grid-area: photo;
  display: flex;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-0 -0 10 10'%3E%3Cpath d='M 0 1 L 10 1 M 1 0 L 1 10' stroke='%23111111' stroke-dasharray='1' stroke-width='0.5' /%3E%3C/svg%3E");
  background-size: 5px 5px;
}

body.-dark .photo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-0 -0 10 10'%3E%3Cpath d='M 0 1 L 10 1 M 1 0 L 1 10' stroke='%23dadada' stroke-dasharray='1' stroke-width='0.1' /%3E%3C/svg%3E");
}

.about {
  grid-area: about;
}

.work {
  grid-area: work;
}

.work-list > li {
  padding-bottom: 10px;
}

.work-list > li:last-child {
  padding-bottom: 0;
}

.education {
  grid-area: education;
}

.contacts {
  grid-area: contacts;
}

.avatar-wrapper {
  margin: auto;
  border-radius: 50%;
  border: 1px solid var(--font-color);
  background-color: var(--background-color);
  padding: 3px;
}

.avatar {
  background-image: url(./avatar.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: calc(var(--avatar-size) / 2);
  height: var(--avatar-size);
  position: relative;
  width: var(--avatar-size);
}

body.-dark .avatar {
  filter: invert(1);
}

.no-bullets {
  list-style-type: none;
}

.bullet-list {
  padding-left: 25px;
  list-style-type: circle;
}

.bullet-list > li:hover {
  list-style-type: disc;
}

.education-list li > div {
  display: flex;
  flex-direction: column;
}

.education-list li b {
  font-size: 12px;
}

.education-list li span {
  font-size: calc(var(--h1-size) * .4);
  opacity: .7;
}

.contact-list li {
  display: flex;
  align-items: center;
}

.contact-list li > svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contact-list li > a {
  color: var(--font-color);
  font-size: 11px;
}

.work-title {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.work-title > b {
  padding-left: 10px;
}

.work-title > label {
  font-style: italic;
  font-size: calc(var(--h1-size) * .4);
}

.work-title::before {
  content: '*';
  position: absolute;
}

.company-name {
  font-style: italic;
  font-size: 11px;
  opacity: .7;
}

.company-block .company-name {
  padding-bottom: 2px;
}

.company-roles .role {
  margin-top: 10px;
}

.company-roles .role:first-child {
  margin-top: 0;
}

.work-description-list, .skills-list, .work-description  {
  font-size: 10px;
  font-style: italic;
}

.work-skills {
  font-size: 9px;
  font-style: italic;
  opacity: .8;
  margin-top: 4px;
}

#techSkillsList {
  columns: 2;
}

.langs-block {
  font-size: 14px;
  display: flex;
  margin-top: 10px;
}

.langs-block-icons {
  margin-left: 5px;
  line-height: 1.5;
}



/* START - Switcher styles */
/* ---------------------- */

.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 0;
  right: 0;
  transform: scale(.5);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--font-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--font-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--font-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tags-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.tags-list > li {
  align-items: center;
  border-radius: 4px;
  border: 1px dashed var(--font-color) !important;
  display: flex;
  flex-grow: 1;
  font-size: 8px;
  padding: 4px 5px;
  justify-content: center;
  max-width: 60%;
}

.skills-and-more {
  font-size: 10px;
  opacity: .5;
  margin-top: 5px;
  float: right
}

/* ---------------------- */
/* END - Switcher styles */



/* START - Bouncing i rules */
/* ---------------------- */

.i-container {
  display: inline-block;
  transform-origin: bottom;
}

.height-fix {
  line-height: 0.55;
}

.bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-10px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

/* ---------------------- */
/* END - Bouncing i rules */



/* START - Rotate animation */
/* ---------------------- */

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------- */
/* END - Rotate animation */



/* START - Mobile styles */
/* ---------------------- */

@media not print {
  @media (max-width: 700px) {
    :root {
      --h1-size: 25px;
    }

    .resume {
      width: 100%;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas:
        "name"
        "photo"
        "skills"
        "work"
        "education"
        "contacts";
    }
  }
}

/* END - Mobile styles */


/* START - Print styles */
/* ---------------------- */

@media print {
  /* Disable dark mode for print request */
  body.-dark {
    --font-color: black;
    --background-color: white;
  }
  .resume {
    width : 210mm;
    height: 297mm;
  }
  a {
    text-decoration: none;
  }
  .avatar {
    content: url(./avatar.png);
    filter: none;
  }
  body.-dark .avatar {
    filter: none;
  }
  body .switch {
    display: none;
  }
}

@page {
  padding: 0;
  margin: 0cm;
  size: A4 portrait;
}

/* ---------------------- */
/* END - Print styles */

/* Copyright (C) 2024 Vladyslav Ohirenko */
